.header__sublink {
    margin: 0;
    display: flex;
    align-items: center;
    line-height: 1.4;
    cursor: pointer;
}

.header__sublink:before {
    border: 1px solid;
    border-bottom-left-radius: 200% 100%;
    border-top-left-radius: 200% 100%;
    border-right: 0;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 24px;
    visibility: hidden;
    width: 10px;
}

.header__sublink:after {
    border: 1px solid;
    border-bottom-right-radius: 200% 100%;
    border-top-right-radius: 200% 100%;
    border-left: 0;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 24px;
    visibility: hidden;
    width: 10px;
}

.header__sublink:hover::before, .header__sublink:hover::after {
    visibility: visible;
}