.link_underline {
    background-image: linear-gradient(var(--content-color), var(--content-color));
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.4s;
    width: fit-content;
}

.link_underline:hover {
    background-size: 100% 1px;
}