.footer__address-spot {
  font-family: Neue Machina, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (max-width: 720px) {
  .footer__address-spot {
    margin-bottom: 8px;
  }
}
