.project-properties {
  padding-left: 63px;
}


@media screen and (max-width: 1080px) {
  .project-properties {
    padding-left: 0;
  }
}

@media screen and (max-width: 860px) {
  .project-properties {
    box-sizing: border-box;
    padding: 53px 20px 41px 25px;
    background-color: #fff;
  }
}
