.reviews {
  /* max-width: 718px; */
  margin: 0 auto;
  padding: 45px 0 65px;
  box-sizing: border-box;
  font-family: 'Neue Machina', Arial, Helvetica, sans-serif;
}

@media (max-width: 720px) {
  .reviews {
    padding-top: 105px;
    padding-bottom: 0;
  }
}