.footer__copyright {
  margin: 0;
  grid-row: 5;
  grid-column: 3 / span 2;
}

@media screen and (max-width: 720px) {
  .footer__copyright {
    grid-row: 11;
    grid-column: 1 / span 2;
    max-width: 225px;
  }
}
