.footer__partners-heading {
  margin: 0;
  
  max-width: 145px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 720px) {
  .footer__partners-heading {
    display: none;
  }
}