.header__link {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.125rem;
}

.header__link:before,
.header__link:after {
  content: '';
  border: 1px solid;
  box-sizing: border-box;
  height: 24px;
  visibility: hidden;
  width: 10px;
}

.header__link:before {
  border-right: 0;
  border-bottom-left-radius: 200% 100%;
  border-top-left-radius: 200% 100%;
}

.header__link:after {
  border-left: 0;
  border-bottom-right-radius: 200% 100%;
  border-top-right-radius: 200% 100%;
}

.header__link:hover::before,
.header__link:hover::after {
  visibility: visible;
}