.project-article {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1080px) {
  .project-article {
    padding-right: 24px;
  }
}

@media (max-width: 860px) {
  .project-article {
    padding-left: 24px;
  }
}
