.footer__partners-list-item {
  margin-right: 32px;
}


@media (max-width: 980px) {
  .footer__partners-list-item {
    align-items: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 0;
  }
}