.header__social-menu {
  border-color: var(--content-color);
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 10px 15px 20px 15px;
  max-width: 257px;
}

@media screen and (max-width: 1357px) {
  .header__social-menu {
    border-right: none;
  }
}

@media screen and (max-width: 1230px) {
  .header__social-menu {
    display: none;
  }
}