.footer {
  max-width: 1420px;
  position: relative;
  box-sizing: border-box;
  padding: 42px 92px 54px 32px;
  font-family: Formular, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: var(--content-color);
  display: grid;
  grid-template-columns: 6fr 6fr 32fr;
  grid-template-rows: 104px 259px 100px;
}

@media (max-width: 1080px) {
  .footer {
    padding-right: 32px;
  }
}

@media (max-width: 980px) {
  .footer {
    padding-left: 59px;
    padding-right: 55px;
    display: flex;
    flex-direction: column;
  }
}