.slider__button-container {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  top: -85px;
  right: 0;
}

@media (max-width: 735px) {
  .slider__button-container {
    top: -78px;
    right: 28px;
  }
}
