.tickets__link {
    align-items: center;
    border: 1px solid var(--content-color);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-family: Formular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    max-width: 240px;
    padding: 15px;
    background-color: transparent;
    text-transform: uppercase;
}

.tickets__link::after {
    content: "";
    background-image: url(../../../images/icon-arrow-right.svg);
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}