.footer__partners-subheading {
  display: none;
  font-weight: 300;
  line-height: 20px;
}

@media screen and (max-width: 720px) {
  .footer__partners-subheading {
    display: block;
    margin: 0;
  }
}
