.share__social-list {
  display: flex;
  font-family: 'Formular', Arial, sans-serif;
  justify-content: space-between;
  gap: 8px;
  bottom: 72px;
  left: 221px;
  position: absolute;

}

@media screen and (max-width: 720px) {
  .share__social-list {
    left: 22px;
    bottom: 40px;
  }
}

@media screen and (max-width: 497px) {
  .share__social-list {
    bottom: 80px;
  }
}