.share__social-list {
  display: flex;
  font-family: 'Formular', Arial, sans-serif;
  justify-content: space-between;
  gap: 8px;
  top: -18px;
  left: 221px;
  position: absolute;

}

@media screen and (max-width: 720px) {
  .share__social-list {
    left: 22px;
    top: 43px;
  }
}
