.footer__partners-list {
  display: flex;
}

@media (max-width: 980px) {
  .footer__partners-list {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 62px;
    column-gap: 25px;
  }
}

@media (max-width: 450px) {
  .footer__partners-list {
    column-gap: 0;
  }
}
