.project-article__video-container {
  margin-bottom: 66px;
  width: 100%;
  position: relative;

  aspect-ratio: calc(691 / 389);
}

@media (max-width: 860px) {
  .project-article__video-container {
    margin-top: 24px;
    margin-bottom: 32px;
  }
}