.header {
  align-items: center;
  border-bottom: 1px solid var(--content-color);
  display: flex;
  justify-content: space-between;
  font-family: 'Formular', Arial, sans-serif;
  margin-top: 10px;
}