.header {
    align-items: center;
    border-bottom: 1px solid var(--content-color);
    display: flex;
    font-family: Formular, Arial, sans-serif;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}