.header {
  align-items: center;
  border-bottom: 1px solid var(--content-color);
  display: flex;
  justify-content: space-between;
  font-family: 'Formular', Arial, sans-serif;
  margin-top: 10px;
}

@media screen and (max-width:1357px) {
  .header {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 936px) {
  .header {
    border-bottom: 1px solid transparent;
  }
}