.project-card__download {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 16px;
  padding: 16px 16px 18px 16px;
  border: none;
  border-top: 1px solid var(--content-color);
  background: linear-gradient(var(--content-color), var(--content-color)) no-repeat;
  background-color: transparent;
  background-size: 0% 100%;
  position: relative;
  transition: background-size .25s;
}

.project-card__download:before {
  background-image: url(../../../images/icon-arrow-right.svg);
  background-size: 25px 25px;
  content: "";
  height: 25px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 25px;
}