.header__donation-text {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.header__donation-text::before {
    background-image: url(../../../images/icon-plus.svg);
    background-size: 25px 25px;
    content: "";
    height: 25px;
    width: 25px;
}