.footer__partners-block {
  padding-top: 9px;
  grid-row: 1;
  grid-column: 3 / span 6;
  display: flex;
}

@media screen and (max-width: 720px) {
  .footer__partners-block {
    grid-row: 9;
    grid-column: 1 / span 2;
  }
}
